@model SecondSession.Models.Employee

@{
    ViewBag.Title = "RetrieveEmployee";
}

<h2>Retrieve Employee</h2>
<h3>Requested Employee's Data</h3>
<p>@Model.Id</p>
<p>@Model.First_name</p>
<p>@Model.Last_name</p>
<p>@Model.Salary</p>
<p>@Model.Email</p>
<p>@Model.HireDate</p>
<p>@Model.Employee_Dep_Name</p>
